name: Integration tests
on:
  schedule:
    - cron:  '0 12 * * 3'
  workflow_call:
  workflow_dispatch:

jobs:
  integration-test-k8s:
    runs-on: ubuntu-latest
    name: Integration tests for k8s charms
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup operator environment
        uses: charmed-kubernetes/actions-operator@main
        with:
          provider: microk8s
          bootstrap-options: "--agent-version 2.9.42"
      - name: Run k8s integration tests
        run: |
          tox -e integration-k8s -- --bundle "releases/latest/kafka-k8s/bundle.yaml"
