# Copyright 2023 Canonical Ltd.
# See LICENSE file for licensing details.
name: Release to latest/edge

on:
  push:
    branches:
      - main

jobs:
  publish-k8s-bundle:
    name: Publish K8s bundle
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install dependencies
        run: |
          sudo snap install charmcraft --classic
      - name: Pack and publish bundle
        run: |
          set -ex
          # Use a temporary directory to support publishing any of the bundles in this root dir
          BUILD_DIR=.bundle_build
          mkdir $BUILD_DIR
          cp ./releases/latest/kafka-k8s/* $BUILD_DIR/
          cd $BUILD_DIR
          # FIXME: token will expire on 2024-03-09
          export CHARMCRAFT_AUTH=${{ secrets.CHARMHUB_TOKEN }}
          charmcraft pack --destructive-mode
          charmcraft upload ./*.zip
          export REVISION=$(charmcraft revisions kafka-k8s-bundle 2>&1 | awk 'NR==2 {print $1}')
          charmcraft release kafka-k8s-bundle --revision $REVISION --channel=edge
      - name: Dump logs
        if: failure()
        run: |
          printenv | sed 's;=.*;;' | sort
          awk '{print}' /home/runner/snap/charmcraft/common/cache/charmcraft/log/*.log

